<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


    <ion-toolbar>
      <ion-segment [(ngModel)] = "segments">
        <ion-segment-button value="List">
          Playlists
        </ion-segment-button>
        <ion-segment-button value="Songs">
          Songs
        </ion-segment-button>
      </ion-segment>

    </ion-toolbar>

</ion-header>
<ion-content>

  <div [ngSwitch]="segments">

    <ion-list *ngSwitchCase="'Songs'">
      <ion-searchbar (ionInput)="getSong($event)"></ion-searchbar>
        <ion-item *ngFor="let song of songsTList">
            <ion-avatar item-left>
              <img src={{song.portada}} alt="">
            </ion-avatar>
          <button ion-button outline style="background: none; border: none; width: 100%;" (click)="seeSong(song)">
            <ion-title outline ><h2>{{song.titulo}}</h2></ion-title>
          </button>
        </ion-item>
      </ion-list>

    <ion-list *ngSwitchCase="'List'">
      <ion-searchbar (ionInput)="getList($event)"></ion-searchbar>
        <ion-item *ngFor="let playlist of playlistsTList">
          <button ion-button outline style="background: none; border: none; width: 100%;" (click)="seePlaylist(playlist)">
            <ion-title outline ><h2>{{playlist.titulo}}</h2></ion-title>
          </button>
        </ion-item>
      </ion-list>



  </div>

  <ion-footer no-border="">
    <div class="bottom_bar">
      <ion-segment class="ng-untouched ng-pristine ng-valid bar-button-light-ios bar-button-light-wp ">
        <ion-segment-button (click)="moveSearch()" class="segment-button bar-button-light-ios" tappable="" value="home" >
          <ion-icon name="home"></ion-icon>
          <div class="button-effect"></div>
        </ion-segment-button>

        <ion-segment-button class="segment-button bar-button-light-ios" role="button" tappable="" value="search"
                            (click)="moveSearch()">
          <ion-icon name="search"></ion-icon>
          <div class="button-effect"></div>
        </ion-segment-button>

        <ion-segment-button class="segment-button segment-activated bar-button-light-ios" role="button" tappable=""
                            value="profile" (click)="moveProfile()">
          <ion-icon name="person"></ion-icon>
          <div class="button-effect"></div>
        </ion-segment-button>

        <ion-segment-button class="segment-button segment-activated bar-button-light-ios" role="button" tappable=""
                            value="library"(click)="Move()">

          <ion-icon name="musical-notes"></ion-icon>
          <div class="button-effect"></div>
        </ion-segment-button>

      </ion-segment>
    </div>
  </ion-footer>

  </ion-content>





